<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Form</title>
</head>
<body>
    <h2>Enter Three Strings</h2>
    <form action="/home" method="post">
        <label for="string1">Enter domain:</label><br>
        <input type="text" id="domain" name="domain"><br><br>
        
        <label for="string2">Enter technologies:</label><br>
        <input type="text" id="tech" name="tech"><br><br>

        <label for="string3">Enter number of days:</label><br>
        <input type="text" id="days" name="days"><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
